#amp-container {
    padding: 0 0 35px 0;
}

.amp-school-logo {
    height: 60px;
    width: 220px;
}

.amp-nav-header {
    text-align: center;
}

.amp-search-input {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    font-size: 14px;
    height: 31px;
    margin: 14px 20px 0 15px;
}

.amp-search-input:focus {
    border-color: #1ab394;
    outline: none;
}

.amp-search-group {
    width: 450px;
}

.amp-search-btn {
    margin-top: 12px;
    padding: 2px 28px;
    font-size: 15px;
}

.amp-nav-searchform {
    float: left;
    height: 50px;
    padding: 0;
    display: inline-table;
}

.amp-nav-searchform input {
    width: 400px;
}

@media (max-width: 1135px) {
    .amp-nav-searchform input {
        width: 200px;
    }
}

@media (max-width: 975px) {
    .amp-nav-searchform {
        display: none;
    }

    .navbar-right {
        display: inline;
        float: left !important;
    }
}

@media (max-width: 423px) {
    .nav.navbar-top-links li.dropdown {
        display: none;
    }
}

.count-info .amp-sup-label {
    right: -6px;
}

.amp-main-wrapper {
    padding: 15px 25px;
}

.amp-main-sortarea {
    min-height: 50px;
}

.amp-main-appbox1 .ibox-content{
    padding: 15px ;
}
.amp-main-appbox1 .ibox-title a{
    height: 100%;
    width: 100%;
    display: block;
    color: inherit;
}
.amp-main-servicetips .badge,
.amp-main-appbox1 .badge{
    padding-left: 10px;
    padding-right: 10px;
    font-family: "Microsoft YaHei";
    font-weight: normal;
    font-size: 12px;
    padding-bottom: 3px;
}
.amp-main-appbox1 .ibox-content span:first-child {
    color: rgb(153,153,153);
    font-size: 12px;
}

.amp-main-appbox1 .ibox-content span:last-child {
    float: right;
    font-size: 12px;
}

.ibox-title .title16{
    font-size: 16px;
    line-height: 16px;
}
.amp-main-servicetips .list {
    margin-top: -15px;
    margin-bottom: -20px;
}

.amp-main-servicetips .list .list-item {
    padding: 10px 0px;
    border-bottom: 1px dotted rgb(191, 191, 191);
}
.amp-main-servicetips .list .list-item:last-child{
    border-bottom: none;
}
.amp-main-servicetips .list .list-item div {
    display: inline-block;
}

.amp-main-lpart{
    margin-right: 225px;
}
.amp-main-rpart{
    width: 200px;
}

.amp-fa-text{
    display: block;
    margin-bottom: 5px;
}
.amp-serviceTips-left{
    text-align: center;
    width: 85px;
    border-right: 1px dotted rgb(191, 191, 191);
}
.amp-serviceTips-left i{
    color: rgb(206,206,206);
}
.amp-serviceTips-left .amp-fa-text{
    color: rgb(77,77,77);
    margin-top: 5px;
}
.amp-main-servicetips .ibox-content{
    padding: 15px 15px 20px 15px;
}
.amp-serviceTips-right{
    margin-left: 5px;
}
.amp-text-prompt{
    color: red;
    margin-right: 5px;
}
.amp-app-item{
    margin-top: 8px;
    color: rgb(103, 107,110);
}
.amp-app-item .text-muted{
    margin-left: 5px;
    color: rgb(150,150,150);
}
.amp-app-item img{
    display: none;
    width: 60px;
    margin: 5px 0;
}
.amp-app-list{
    margin-top: -15px;
}

.amp-nav .dropdown-menu li a {
    padding: 3px 10px;
}
#amp-seachpanel{
    display: none;
    width: 400px;
    max-height:350px;
    position: absolute;
    left: 15px;
    top:50px;
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(86, 96, 117, 0.7);
    padding: 0;
    text-shadow: none;
    z-index: 1000;
}

#amp-seachpanel .seachpanel-header {
    height: 45px;
    padding: 0 15px;
    line-height: 45px;
    border-bottom: 1px solid rgb(240,240,240);
}
#amp-seachpanel .seachpanel-header-item {
    font-size: 16px;
}
#amp-seachpanel .item-color {
    color:orange;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 180px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -3px;
}
#amp-seachpanel .search-lp,
#amp-seachpanel .search-rp {
    float: left;
}
.search-lp{
    width: 220px;
}
.search-rp{
    position: relative;
}
.search-lp ul{
    margin: 0;
    padding: 0;
}
.search-lp ul li{
    width: 100%;
    height: 26px;
    line-height: 26px;
    list-style: none;
}
.search-lp ul li:first-child{
    background-color: rgb(235,235,237);
    padding: 0 15px;
}
.search-lp ul li a{
    display: block;
    padding: 0 15px;
    text-decoration: none;
    color: rgb(101,106,110);
    font-size: 12px;
}
.search-lp ul li a:hover{
    color: rgb(101,106,110);
    background-color: rgb(244,244,244);
}
.search-lp img{
    width: 15px;
    height: 15px;
    margin-right: 5px;
    vertical-align: -2px;
}

.search-lp .more{
    height: 26px;
    padding: 0 15px;
    line-height: 26px;
    background-color: rgb(251,251,251);
}
.search-lp .more a{
    text-decoration: none;
    color: rgb(101,106,110);
}
.search-lp .more a:hover{
    color: rgb(101,106,110);
}
.search-rp a{
    text-decoration: none;
    color: rgb(101,106,110);
}
.search-rp a:hover{
    color: rgb(101,106,110);
}
.search-lp .search-results{
    height: 234px;
    max-height: 234px;
    overflow-y: auto;
}
.search-rp .search-result {
    width: 180px;
    height: 260px;
    text-align: center;
    font-size: 12px;
    padding-top: 60px;
}

.amp-appStore-yellowStar {
    color: #f8ac59;
    letter-spacing: -3px;
}
.amp-appStore-grayStar {
    color: #f3f3f4;
    letter-spacing: -3px;
}

.amp-appStore-grayStar2 {
    color: rgb(207,207,207);
    letter-spacing: -3px;
}

/*悬浮窗样式*/
.skin-setttings td{
    padding:0px 1px;
}
.sd{
    padding: 15px 40px;
}
.sd img{
    border-radius: 30px;
    position: relative;
    top:-5px;
}
.amp-skin-disable{
    background-color: #E0E0E0;
    border-color: #E0E0E0;
}
.amp-skin-disable a{
    cursor: default;
}
.amp-theme-config{
    position: absolute;
    top: 65px;
    right: 0px;
}
.amp-cursor{
    cursor: pointer !important;
}
.amp-caret-bottom{
    position: absolute;
    margin: 15px 0 0 -33px;
    border-top-color: #23c6c8;
}
.amp-badge-viewMore{
    position: absolute;
    margin: -20px 0 0 -35px;
    filter:alpha(opacity=0);
    opacity:0;
    -webkit-transition:all 500ms ease;
    -moz-transition:all 500ms ease;
    -ms-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition:all 500ms ease;
}

.amp-viewMore:hover>.amp-badge-viewMore {
    filter:alpha(opacity=100);
    opacity:1;
}

.amp-viewMore {
    padding: 0 2px;
}
.value-item{
    margin-bottom: 10px;
}
.value-item img{
    width: 30px;
    height: 30px;
}
.value-item .item-text{
    margin-left: 40px;
}
.item-text-title{
    font-weight: bold;
    color: rgb(68,68,68);
}

.amp-value-box{
    padding: 15px;
}

/*color box*/
.amp-choice-item{
    width: 25px;
    height: 25px;
    margin: 1px;
}
.amp-theme-table{
    margin: 0 auto;
    text-align: center;
}
.amp-choice-block{
    border: 1px solid #CDCDCD;
    margin: 0 7px;
}
.amp-default-skin{
    background-color: #2f4050;
    border-color: #2f4050;
}
.amp-default-skin:hover{
    background-color: #293846;
    border-color: #293846;
}
.amp-blue-skin{
    background-color: #23c6c8;
    border-color: #23c6c8;
}
.amp-blue-skin:hover{
    background-color: #21b9bb;
    border-color: #21b9bb;
}
.value-progress{
    display: inline-block;
    width: 90px;
    margin: 0;
    background-color: white;
}
.amp-star2 {
    width: 65px;
    display: inline-block;
    padding-right: 5px;
    text-align: right;
}

.amp-widget-item{
    cursor: pointer;
    margin: 0 10px;
    clear: both;
    padding: 15px 0 0 0;
}
.amp-widget-img{
    float: left;
    margin-right: 10px;
}
.amp-widget-img img{
    width: 50px;
    margin-bottom: 10px;
}
.amp-widget-line{
    border-top: 1px solid #D0D0D0;
    clear: both;
    margin-top: 15px;
}
.skin-setttings .amp-widget-item:last-child .amp-widget-line{
    border-top: 1px solid #f3f3f4;
    clear: both;
    margin-top: 20px;
}

/* 打星部分css */
ul,li{list-style:none}
a{ color:#09f;}
/*容器*/
#xzw_starSys{position:relative;}
#xzw_starBox{position:relative;width:80px;float:left;margin-left:0px;}
/**/
#xzw_starSys .description{height:30px;clear:both;padding:10px 0px}
#xzw_starSys .star{
    height:20px;width:80px;position:relative;background:url(../img/lanrentuku.png) repeat-x;cursor:pointer;
    margin: 0;
}
#xzw_starSys .star li{float:left;padding:0px;margin:0px}
#xzw_starSys .star li a{display:block;width:16px;height:18px;overflow:hidden;text-indent:-9999px;position:absolute;z-index:5}
#xzw_starSys .star li a:hover{background:url(../img/lanrentuku.png) 0 -18px repeat-x;z-index:3;left:0}
#xzw_starSys .star a.one-star{left:0}
#xzw_starSys .star a.one-star:hover{width:16px}
#xzw_starSys .star a.two-stars{left:16px}
#xzw_starSys .star a.two-stars:hover{width:32px}
#xzw_starSys .star a.three-stars{left:32px}
#xzw_starSys .star a.three-stars:hover{width:48px}
#xzw_starSys .star a.four-stars{left:48px}
#xzw_starSys .star a.four-stars:hover{width:64px}
#xzw_starSys .star a.five-stars{left:64px}
#xzw_starSys .star a.five-stars:hover{width:80px}
#xzw_starSys .current-rating{background:url(../img/lanrentuku.png) 0 -18px repeat-x;position:absolute;height:20px;z-index:1;top:0;left:0}

.amp-ibox-tools1{
    font-size: 14px;
    color: rgb(196, 196, 194);
    margin-top: -3px;
}

/* 右侧评价部分新增样式 */
.amp-value-box{
    font-size: 10px;
}
.amp-value-panel{
    border-bottom: 1px solid rgb(218,218,218);
    margin-bottom: 10px;
}
.amp-value-title{
    text-align: center;
    display: block;
    padding-bottom: 15px;
    font-size: 13px;
}
.amp-value-score {
    font-size: 10px;
}
.amp-value-gray1{
    color: rgb(150,150,150);
}
.amp-value-stardetail {
    padding: 10px 0;
}
.amp-value-shortvalue {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 150px;
}
.amp-value-more{
    margin-left: 40px;
}
.amp-value-more a{
    color: rgb(25,180,148);
}
.amp-value-pane2 {
    padding: 5px 0 10px 0;
    border-bottom: 1px solid rgb(228,228,228);
}
.amp-value-dfswitch {
    margin-top: 10px;
}
.amp-value-dfswitch a:hover {
    color: #1ab394;
}
.amp-starSys {
    display: inline-block;
    vertical-align: -6px;
}
.amp-value-dafen {
    padding: 10px 0;
}
.amp-textarea {
    outline:none;
    resize:none;
    width: 100%;
    height: 65px;
    margin: 10px 0;
    border: 1px solid #e5e6e7;
    padding: 6px 12px;
}
.amp-textarea:focus {
    border-color: #1ab394;
}
.amp-myvalue-title {
    margin-top: 16px;
}
.amp-value-dafen button {
    padding: 2px 10px;
}

/* 截取过长字符 */
.nav-second-level li a {
    max-width: 210px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#side-menu li a .nav-label {
}

.amp-app-item {
    margin-top: 10px;
    max-width: 170px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.amp-main-appbox1 h5 {
    display: inline-block;
    font-size: 14px;
    margin: 0 0 7px;
    padding: 0;;
    float: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 130px;
}
.search-lp ul li a {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

